---
---

@import "{{ site.theme }}";

body {
     font-family: 'Roboto';
     }

h2{
     margin: 0 0 10px;
}

div.sidebar-footer{
     display:none;
}
header p.view{
     display:none;
}
.logo{
     max-width: 65% !important;
}